body {
    font-family: sans-serif;
}
  
input,
button {
    font-size: 3rem;
    margin-top: .6em;
}
  
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 11em;
}

@media (max-width: 450px) {
    input,
    button {
        font-size: 2.8rem;
        margin-top: .6em;
    }

    #display {
        font-size: 1.2rem;
    }
}