body {
    font-family: sans-serif;
}
  
input,
button {
    font-size: 3rem;
    margin-top: .6em;
}
  
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 11em;
}

@media (max-width: 400px) {
    body {
        background-color: bisque;
        margin-top: 15em;
    }

    input,
    button {
        font-size: 2rem;
        margin-top: .3em;
    }

    #display {
        font-size: 1.1rem;
    }
}